<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href={{ site.baseurl }}/css/main.css>

</head>


<body>
  <nav>
    <ul>
      <li><a href={{ site.baseurl }}>Home</a></li>
      <li><a href={{ site.baseurl }}/lezioni>Lessons</a></li>
      <li><a href={{ site.baseurl }}/homework>Homeworks</a></li>
      <li><a href={{ https://www.kaggle.com/competitions/aiunict-2023 }}/homework>Kaggle Competition</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>

  <footer>
  </footer>
</body>

</html>
